*{
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 0 5%;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    gap: 30px;
}

h1{
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 93%;
}

.about-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    /*background: #FC7500;*/
    /*background: linear-gradient(270deg, #FC7500, #F7DCB4);*/
}

.describe{
    border: white solid;
    border-width: thin;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 3%;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

#header-txt{
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 10vh;
}

#sec-txt{
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    color: white;
    font-size: 4vh;
}

#name ,#user-d{
    color: white;
    padding-left: 2vh;
}

#job-txt{
    color: #FC7500;
}

.ex-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3510C7;
    background: linear-gradient(135deg, #3510C7, #92FCF9);
    padding-bottom: 7%;
}

.first-ex{
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 0 5%; 
}

.sec-ex{
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 0 5%; 
}

.skill-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    color: white;
}

.logo-skill{
    border: white solid;
    border-radius: 25px;
    border-width: thin;
    padding: 5% 5%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.sweet-text {
    max-width: 600px; 
    color: white;
}

.es-text  {
    max-width: 600px; 
    color: white;
}

.ref-icon,.ref-icon1{
    display: flex;
    gap: 2vh;
    align-items: center;
}

#git-i,#cir-user{
    color: white;
}

#sweet{
    border-radius: 25px;
    height: 40vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#easy{
    border-radius: 25px;
    height: 40vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.contact-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 2vh;
    background: #FC7500;
    background: linear-gradient(270deg, #FC7500, #F7DCB4);
}

#con-con{
    gap: 5vh;
}

.email-border{
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid;
    border-width: thin;
    border-radius: 25px;
    padding: 2% 2%;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

#icon-foot{
    color: white;
    transition: transform 0.2s ease-in-out;
}

#icon-foot:hover {
    transform: scale(1.3);
}

.describe:hover{
    border: #3510C7 solid;
    border-width: thin;
}

i{
    margin-right: 2vh;
}

#pro-id:hover{
    background-image: url('source/IMG_0442.JPG');
    width: 55vh;
    height: 55vh;
}

#pro-id {
    background-image: url('source/profile.JPG');
    background-size: cover;
    margin-top: 3%;
    border-radius: 50%;
    width: 50vh;
    height: 50vh;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    transition: .35s ease-in-out;
}
